@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Meera+Inimai|Overpass&display=swap');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Meera Inimai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}